# Configuration file

01_general {
    B:1.00_enableDebugMode=false
    B:1.01_enableMyceliumSpread=false
    B:1.02_enablePlutoniumNetherOre=false
    B:1.03_enableDungeonSpawn=true
    B:1.04_enableOresInModdedDimensions=true
    B:1.05_enableLandmineSpawn=true
    B:1.06_enableRadHotspotSpawn=true
    B:1.07_enableNITANChestSpawn=true
    B:1.08_enableMushroomClouds=true
    B:1.09_enableAutomaticRadCleanup=false
    B:1.10_enableMeteorStrikes=true
    B:1.11_enableMeteorShowers=true
    B:1.12_enableMeteorTails=true
    B:1.13_enableSpecialMeteors=true
    B:1.14_enableBomberShortMode=false
    B:1.15_enableVaultSpawn=true
    B:1.16_enableNewRadiation=true
    B:1.17_enableCataclysm=false
    B:1.18_enableExtendedLogging=false
    B:1.19_enableHardcoreTaint=true
    B:1.20_enableGuns=true
    B:1.21_enableVirus=false
    B:1.22_enableCrosshairs=true

    # Experimental, don't use
    B:1.23_enableShaders=false
    B:1.24_enableReflectorCompat=false

    # Which supershotgun reload animation to use. True is Drillgon's animation, false is Bob's animation
    B:1.24_ssgAnimType=true

    # Enables normal mapping on bullet holes, which can improve visuals
    B:1.25_bullet_hole_normal_mapping=true

    # Enables effects that make use of reading from the depth buffer
    B:1.25_depthBufferEffects=true

    # Enables volumetric lighting for directional lights
    B:1.25_flashlight_volumetrics=true

    # Enables dynamic directional lights
    B:1.25_flashlights=true

    # The maximum number of 'flowing' decals that can exist at once (eg blood that can flow down walls)
    I:1.25_flowing_decal_max=20

    # Enables instanced particle rendering for some particles, which makes them render several times faster. May not work on all computers, and will break with shaders.
    B:1.25_instancedParticles=true

    # Enables call lists for a few models, making them render extremely fast
    B:1.26_callListModels=true
    B:1.26_enableAsbestosDust=true
    B:1.26_enableCoalDust=true
    B:1.27_enableBabyMode=false

    # Allows re-evaluating power networks on link remove instead of destroying and recreating
    B:1.27_enableReEval=true
    B:1.28_enableChangelog=true
    B:1.28_enableDuckButton=true
    B:1.28_enableJei=true
    B:1.28_enableNonOreDict=true
    B:1.28_enableOreDict=true
    B:1.28_enableRecipes=true
    B:1.28_enableShaped=true
    B:1.28_enableShapeless=true
    B:1.28_registerTanks=true
    B:1.29_enableShaders2=false
    B:1.30_enableBloom=true
    B:1.30_enableHeatDistortion=true

    # Enables a 3 dimensional version of the radiation system that also allows some blocks (like concrete bricks) to stop it from spreading
    B:1.31_enableAdvancedRadiation=true

    # Enables the over-the-top blood visual effects for some weapons
    B:1.32_enable_blood_effects=true

    # How many times you can use the crucible before recharge
    I:1.33_crucible_max_charges=3

    # Enables the welcome message which appears in the chat when you load into the game
    B:1.34_enableWelcomeMessage=false

    # Controls how much RF you get per HE and vice versa
    I:1.35_rfConversionRate=1
}


03_nukes {
    # Radius of the Gadget
    I:3.00_gadgetRadius=150

    # Radius of Little Boy
    I:3.01_boyRadius=120

    # Radius of Fat Man
    I:3.02_manRadius=175

    # Radius of Ivy Mike
    I:3.03_mikeRadius=250

    # Radius of the Tsar Bomba
    I:3.04_tsarRadius=500

    # Radius of the Prototype
    I:3.05_prototypeRadius=150

    # Radius of F.L.E.I.J.A.
    I:3.06_fleijaRadius=50

    # Radius of the nuclear missile
    I:3.07_missileRadius=100

    # Radius of a MIRV
    I:3.08_mirvRadius=70

    # Radius of the Fatman Launcher
    I:3.09_fatmanRadius=35

    # Radius of the nuka grenade
    I:3.10_nukaRadius=25

    # Radius of dropped anti schrabidium
    I:3.11_aSchrabRadius=20

    # Radius of the blue rinse
    I:3.12_soliniumRadius=150

    # Radius of the N2 mine
    I:3.13_n2Radius=200

    # Radius of the Rigged Star Blaster Energy Cell
    I:3.14_riggedStarRadius=50

    # Time in ticks before the Rigged Star Blaster Energy Cell explodes after being dropped - default 60s
    I:3.15_riggedStarFuse=1200

    # Maximum TNT radius of custom nukes - default 150m
    I:4.00_maxCustomTNTRadius=150

    # Maximum Nuke radius of custom nukes - default 250m
    I:4.01_maxCustomNukeRadius=250

    # Maximum Thermonuclear radius of custom nukes - default 400m
    I:4.02_maxCustomHydroRadius=400

    # Maximum balefire radius of custom nukes - default 750m
    I:4.03_maxCustomBaleRadius=750

    # Maximum fallout additional radius that can be added to custom nukes - default 200m
    I:4.04_maxCustomDirtyRadius=200

    # Maximum Antischrabidium radius of custom nukes - default 500m
    I:4.05_maxCustomSchrabRadius=600

    # Maximum Solinium radius of custom nukes - default 1000m
    I:4.06_maxCustomSolRadius=1200

    # Maximum Euphemium Lvl of custom nukes (1Lvl = 100 Rays) - default 20
    I:4.07_maxCustomEuphLvl=30
}


06_explosions {
    # How long an explosion can be unloaded until it dies in seconds. Based of system time. 0 disables the effect
    I:6.00_limitExplosionLifespan=0

    # Base speed of MK3 system (old and schrabidium) detonations (Blocks / tick)
    I:6.01_blastSpeed=1024

    # Base speed of MK4 system (new) detonations (Blocks / tick)
    I:6.02_blastSpeedNew=1024

    # Radius of fallout area (base radius * value in percent)
    I:6.03_falloutRange=200

    # Process a Chunk every nth tick by the fallout rain
    I:6.04_falloutChunkSpeed=10

    # Disable the nuclear part of nukes
    B:6.06_disableNuclear=false

    # Duration of the thunderstorm after fallout in ticks (only large explosions)
    I:6.06_falloutRainDuration=200000

    # Radiation in 100th RADs created by fallout rain
    I:6.07_falloutRainRadiation=100000

    # Radiation in RADs required for fog to spawn
    I:6.08_fogThreshold=100

    # 1:n chance of fog spawning every second - default 1/50
    I:6.09_fogChance=1

    # How many block operations radiation can perform per tick
    I:6.10_worldRadCount=10

    # How much damage a railgun death blast does per tick
    I:6.11_railgunDamage=1000

    # The least amount of RADs required for block modification to happen
    I:6.11_worldRadThreshold=40

    # How much RF the railgun can store
    I:6.12_railgunBuffer=500000000

    # Whether high radiation levels should perform changes in the world
    B:6.12_worldRadEffects=true

    # The chance (in percentage form) that a block with low blast resistance will fall down. -1 Disables falling
    I:6.13_blocksFallingChance=100

    # How much RF the railgun requires per shot
    I:6.13_railgunConsumption=250000000

    # How long the fire blast will last in ticks
    I:6.14_fireDuration=300
}


07_missile_machines {
    # Range of the radar, 50 will result in 100x100 block area covered
    I:7.00_radarRange=1000

    # How high entities have to be above the radar to be detected
    I:7.01_radarBuffer=30

    # Y height required for the radar to work
    I:7.02_radarAltitude=55

    # Additional modifier for CIWS accuracy
    I:7.03_ciwsAccuracy=50

    # Whether shot-down missiles drop items
    B:7.03_dropMissileParts=true
}


07_radiation {
    # Whether high radiation levels should radiate items in inventory
    B:7.01_itemContamination=true

    # X Coordinate of the geiger counter gui (x=0 is on the right)
    I:7.02_geigerX=16

    # Y Coordinate of the geiger counter gui (y=0 is on the bottom)
    I:7.03_geigerY=2

    # X Coordinate of the digamma diagnostic gui (x=0 is on the right)
    I:7.04_digammaX=16

    # Y Coordinate of the digamma diagnostic counter gui (y=0 is on the bottom)
    I:7.05_digammaY=18
}


08_potion_effects {
    # What potion ID the taint effect will have
    I:8.00_taintPotionID=62

    # What potion ID the radiation effect will have
    I:8.01_radiationPotionID=63

    # What potion ID the B93 timebomb effect will have
    I:8.02_bangPotionID=64

    # What potion ID the taint mutation effect will have
    I:8.03_mutationPotionID=65

    # What potion ID the Rad-X effect will have
    I:8.04_radxPotionID=66

    # What potion ID the lead poisoning effect will have
    I:8.05_leadPotionID=67

    # Valid configs include "NORMAL" and "TERRARIA", otherwise potion sickness is turned off
    S:8.S0_potionSickness=OFF

    # Whether Servos and Armors should give Jumpboost
    B:8.x_doJumpBoost=true
}


09_machines {
    # Controls how much delay between extraction or drilling operations for Oil Derricks
    I:9.00_delayPerOperationDerrick=50

    # Controls how much power is consumed per operation for Oil Derricks
    I:9.01_powerConsumptionPerOperationDerrick=200

    # Controls how much crude oil at minimum is extracted per deposit block for Oil Derricks
    I:9.02_oilPerDepositBlockMinDerrick=500

    # Controls how much extra crude oil can be extracted per deposit block for Oil Derricks
    I:9.03_oilPerDepositBlockMaxExtraDerrick=300

    # Controls how much natrual gas at minimum is extracted per deposit block for Oil Derricks
    I:9.04_gasPerDepositBlockMinDerrick=100

    # Controls how much extra natrual gas can be extracted per deposit block for Oil Derricks
    I:9.05_gasPerDepositBlockMaxExtraDerrick=401

    # Controls how much delay between extraction or drilling operations for Pumpjacks
    I:9.06_delayPerOperationPumpjack=40

    # Controls how much power is consumed per operation for Pumpjacks
    I:9.07_powerConsumptionPerOperationPumpjack=40

    # Controls how much crude oil at minimum is extracted per deposit block for Pumpjacks
    I:9.08_oilPerDepositBlockMinPumpjack=700

    # Controls how much extra crude oil can be extracted per deposit block for Pumpjacks
    I:9.09_oilPerDepositBlockMaxExtraPumpjack=300

    # Controls how much natrual gas at minimum is extracted per deposit block for Pumpjacks
    I:9.10_gasPerDepositBlockMinPumpjack=110

    # Controls how much extra natrual gas can be extracted per deposit block for Pumpjacks
    I:9.11_gasPerDepositBlockMaxExtraPumpjack=401

    # Controls how much delay between extraction or drilling operations for Fracking towers
    I:9.12_delayPerOperationFrackingTower=50

    # Controls how much power is consumed per operation for Fracking towers
    I:9.13_powerConsumptionPerOperationFrackingTower=7500

    # Controls how much fracking solution is consumed per operation for Fracking towers
    I:9.14_solutionConsumptionPerOperationFrackingTower=20

    # Controls how far in blocks around a Fracking tower the world is affected during operation
    I:9.15_worldDestructionRangeFrackingTower=64

    # Controls how much crude oil at minimum is extracted per deposit block for Fracking towers
    I:9.16_oilPerDepositBlockMinFrackingTower=1000

    # Controls how much extra crude oil can be extracted per deposit block for Fracking towers
    I:9.17_oilPerDepositBlockMaxExtraFrackingTower=600

    # Controls how much natrual gas at minimum is extracted per deposit block for Fracking towers
    I:9.18_gasPerDepositBlockMinFrackingTower=180

    # Controls how much extra natrual gas can be extracted per deposit block for Fracking towers
    I:9.19_gasPerDepositBlockMaxExtraFrackingTower=401

    # Controls how much crude oil at minimum is extracted per bedrock deposit block for Fracking towers
    I:9.20_oilPerBedrockDepositBlockMinFrackingTower=100

    # Controls how much extra crude oil can be extracted per bedrock deposit block for Fracking towers
    I:9.21_oilPerBedrockDepositBlockMaxExtraFrackingTower=30

    # Controls how much natrual gas at minimum is extracted per bedrock deposit block for Fracking towers
    I:9.22_gasPerBedrockDepositBlockMinFrackingTower=10

    # Controls how much extra natrual gas can be extracted per bedrock deposit block for Fracking towers
    I:9.23_gasPerBedrockDepositBlockMaxExtraFrackingTower=50

    # How much mB of UU-Matter is used per mB of output fluid
    I:9.24_uuMixerFluidRatio=200

    # If true then the follwing list of fluids is a whitelist. Otherwise it is a Blacklist
    B:9.25_uuMixerFluidListIsWhitelist=false

    # List of fluids that can not be made by UU Mixer. - <fluid> (String)
    S:9.26_blacklistedUUMixerFluids <
        liquid_osmiridium
     >

    # Controls how big the maximum storage size of mined crates can be. Warning going beond 32kb can cause freezing/crashes. - <kb> (int)
    I:9.27_crateMaxByteSize=8
}


10_dangerous_drops {
    # Whether antimatter cells should explode when dropped
    B:10.00_dropCell=true

    # Whether singularities and blaack holes should spawn when dropped
    B:10.01_dropBHole=true

    # Whether rigged star blaster cells should explode when dropped
    B:10.02_dropStar=true

    # Whether xen crystals should move blocks when dropped
    B:10.04_dropCrys=true

    # Whether dead man's explosives should explode when dropped
    B:10.05_dropDead=true
}


11_tools {
    # Limits veinminer's recursive function. Usually not an issue, unless you're using bukkit which is especially sensitive for some reason.
    I:11.00_recursionDepth=1000

    # Determines whether veinminer can break stone
    B:11.01_recursionDepth=false

    # Determines whether veinminer can break netherrack
    B:11.02_recursionDepth=false
    B:11.03_hammerAbility=true
    B:11.04_abilityVein=true
    B:11.05_abilityLuck=true
    B:11.06_abilitySilk=true
    B:11.07_abilityFurnace=true
    B:11.08_abilityShredder=true
    B:11.09_abilityCentrifuge=true
    B:11.10_abilityCrystallizer=true
    B:11.11_abilityMercury=true
    B:11.12_abilityExplosion=true
}


12_mobs {
    # Whether there should be radiation elementals
    B:12.E00_enableMeltdownElementals=true

    # How many world ticks need to pass for a check to be performed
    I:12.E01_elementalDelay=3000

    # 1:x chance to spawn elementals, must be at least 1
    I:12.E02_elementalChance=1

    # How many elementals are spawned each raid
    I:12.E03_elementalAmount=10

    # How far away elementals will spawn from the targeted player
    I:12.E04_elementalAttackDistance=32

    # Whether there should be FBI raids
    B:12.F00_enableFBIRaids=true

    # How many world ticks need to pass for a check to be performed
    I:12.F01_raidDelay=6000

    # 1:x chance to spawn a raid, must be at least 1
    I:12.F02_raidChance=1

    # How many FBI agents are spawned each raid
    I:12.F03_raidAmount=40

    # Time between individual attempts to break machines
    I:12.F04_raidAttackDelay=35

    # How far away machines can be broken
    I:12.F05_raidAttackReach=2

    # How far away agents will spawn from the targeted player
    I:12.F06_raidAttackDistance=32

    # Whether mask man should spawn
    B:12.M00_enableMaskman=true

    # How many world ticks need to pass for a check to be performed
    I:12.M01_maskmanDelay=8000

    # 1:x chance to spawn mask man, must be at least 1
    I:12.M02_maskmanChance=1

    # The amount of radiation needed for mask man to spawn
    I:12.M03_maskmanMinRad=50

    # Whether players need to be underground for mask man to spawn
    B:12.M04_maskmanUnderound=true
}


##########################################################################################################
# 528
#--------------------------------------------------------------------------------------------------------#
# CAUTION
# 528 Mode: Please proceed with caution!
# 528-Modus: Lassen Sie Vorsicht walten!
# Ñ�Ð¿Ð¾Ñ�Ð¾Ð±-528: Ð´ÐµÐ¹Ñ�Ñ‚Ð²Ð¾Ð²Ð°Ñ‚ÑŒ Ñ� Ð¾Ñ�Ñ‚Ð¾Ñ€Ð¾Ð¶Ð½Ð¾Ñ�Ñ‚ÑŒÑŽ!
##########################################################################################################

528 {
    # Determines how often (1 in X) bedrock coltan ores spawn. Applies for both the bedrock ores in the coltan deposit (if applicable) and the random bedrock ores (if applicable)
    I:X528_bedrockColtanFrequency=50

    # Enables bedrock coltan ores in the coltan deposit. These ores can be drilled to extract infinite coltan, albeit slowly.
    B:X528_enableBedrockDepsoit=true

    # Enables the bedrock coltan ores as a rare spawn. These will be rarely found anywhere in the world.
    B:X528_enableBedrockSpawning=false

    # Enables the coltan deposit. A large amount of coltan will spawn around a single random location in the world.
    B:X528_enableColtanDepsoit=true

    # Enables coltan ore as a random spawn in the world. Unlike the deposit option, coltan will not just spawn in one central location.
    B:X528_enableColtanSpawning=false

    # Keeps the RBMK dial for ReaSim boilers on, preventing use of non-ReaSim boiler columns and forcing the use of steam in-/outlets
    B:X528_forceReasimBoilers=true

    # Determines how many coltan ore veins are to be expected in a chunk. These values do not affect the frequency in deposits, and only apply if random coltan spanwing is enabled.
    I:X528_oreColtanFrequency=2

    # The central toggle for 528 mode.
    B:enable528Mode=false
}


