# Configuration file

~CONFIG_VERSION: 0.1.0

world-1067583250 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1077645953 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=f
    B:overlayEnabled=true
}


world-1101163714 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-530641057 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=inject
    B:overlayEnabled=true
}


world-78688046 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1155053887 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=dev
    B:overlayEnabled=true
}


world1446932174 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=rock
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world1552668063 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1690200562 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1855637915 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1905224479 {
    # Show the list of bookmarks next to open GUIs.
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true

    # Default item to use to fill up fluids when clicking on a fluid ingredient in the menu, (format: item_name@meta)
    S:defaultFluidContainerItem=

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=inject

    # Show the list of ingredients next to open GUIs.
    B:overlayEnabled=true
}


world729996462 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world952713870 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=@tfc
    B:overlayEnabled=true
}


