# Configuration file

##########################################################################################################
# global
#--------------------------------------------------------------------------------------------------------#
# Global settings that can be used in all GUI's
##########################################################################################################

global {
    # The acronym of your modpack. [default: LGUI]
    S:modpackAcronym=CBT

    # The name of your modpack. [default: LaunchGui]
    S:modpackName=Project CBT

    # The current version of your modpack [default: @VERSION@]
    S:modpackVersion=Dev
}


##########################################################################################################
# miscellaneous
#--------------------------------------------------------------------------------------------------------#
# General settings that don't fall under other categories.
##########################################################################################################

miscellaneous {
    # Enables logging information to the console. [default: true]
    B:enableLogging=true
}


##########################################################################################################
# notice
#--------------------------------------------------------------------------------------------------------#
# Gui that loads if a text file at a specified URL exists and is not empty.
##########################################################################################################

notice {

    ##########################################################################################################
    # button
    #--------------------------------------------------------------------------------------------------------#
    # Settings related to the shown buttons.
    ##########################################################################################################

    button {
        # Text to display on info button [default: Information]
        S:infoButtonText=Information

        # URL that the info button sends you to [default: ]
        S:infoButtonUrl=https://github.com/Nrmot-GithubRepo/Project-CBT
    }

    ##########################################################################################################
    # internal
    #--------------------------------------------------------------------------------------------------------#
    # Settings for the internal checking that the GUI does.
    ##########################################################################################################

    internal {
        # Enables the notice GUI [default: false]
        B:enableNoticeGui=false
    }

    ##########################################################################################################
    # information
    #--------------------------------------------------------------------------------------------------------#
    # Information to provide to players.
    ##########################################################################################################

    information {
        # Title to display at the top [default: Important Notice]
        S:infoTitle=Project CBT

        # URL to pull information from.
        # Use "\n" to define a new line. If the line is still too long, it will split for you.
        # If you do not use custom splits, it will just use the automated ones.
        # Valid text codes you can use are:
        # %player% - Provides the player's username.
        # %name% - Provides modpackName
        # %version% - Provides modpackVersion
        # %acro% - Provides modpackAcronym [default: http://tehnut.info]
        S:infoUrl=https://github.com/Nrmot-GithubRepo/Project-CBT
    }

}


##########################################################################################################
# startup gui
#--------------------------------------------------------------------------------------------------------#
# Settings for the GUI shown on startup.
##########################################################################################################

"startup gui" {

    ##########################################################################################################
    # button
    #--------------------------------------------------------------------------------------------------------#
    # Settings related to the shown buttons.
    ##########################################################################################################

    button {
        # Text to display on the continue button. [default: Continue]
        S:continueButtonText=Continue to suffer

        # Add a second button that has a link attached to it. Clicking the button will open the link in the user's default browser. [default: true]
        B:enableLinkButton=true

        # Text to display on the link button. [default: My Website]
        S:linkButtonText=Official Github

        # Link to open when clicked. [default: http://tehnut.info/]
        S:linkButtonUrl=https://github.com/Nrmot-GithubRepo/Project-CBT
    }

    ##########################################################################################################
    # internal
    #--------------------------------------------------------------------------------------------------------#
    # Settings for the internal checking that the GUI does.
    ##########################################################################################################

    internal {
        # Whether to disable the GUI after it has been viewed before.
        # Set to false to show GUI on every startup. Still requires showGuiOnStartup to be true. [default: true]
        B:disableGuiAfterViewed=false

        # False- Displays Gui when the specified mod is found.
        # True- Displays Gui when the specified mod is *not* found. [default: false]
        B:invertModFinder=false

        # Put a modid here to only load if that mod is installed. Leave blank to not check for a mod at all. [default: ]
        S:modToFind=

        # Whether or not to show the GUI on startup. Used internally, do not touch. [default: true]
        B:showGuiOnStartup=true
    }

    ##########################################################################################################
    # information
    #--------------------------------------------------------------------------------------------------------#
    # Information to provide to players.
    ##########################################################################################################

    information {
        # These are your information info lines in the GUI
        # Use "\n" to define a new line. If the line is still too long, it will split for you.
        # If you do not use custom splits, it will just use the automated ones.
        # Valid text codes you can use are:
        # %player% - Provides the player's username.
        # %name% - Provides modpackName
        # %version% - Provides modpackVersion
        # %acro% - Provides modpackAcronym [default: ]
        S:startupGuiLines=Circuit Board Torture: New Horizons is a 1.12.2 Modpack designed to test your sanity upon playing this modpack. Do not be surprised if you start going insane from playing this modpack. This modpack features GregTech, Nuclear Tech Mod as the main tech mods, TerraFirmaCraft as the Survival Overhaul Mod. Hostile mobs in this game hate you and can now destroy your base. (Epic Siege Mod). This pack is still in ALPHA PUBLIC development.

        # Title of the startup GUI. Shows as yellow text. [default: TITLE]
        S:startupGuiTitle=Welcome to CBT:New Horizons! Please Read Beforehand!
    }

}


##########################################################################################################
# update checker
#--------------------------------------------------------------------------------------------------------#
# Settings for the GUI shown when an update is available.
##########################################################################################################

"update checker" {
    # Checks for a pack update during the Pre-Initialization phase instead of when the main menu displays.
    # This will open a new window that always displays on top. It will pause loading until closed. [default: true]
    B:checkUpdateEarly=false

    ##########################################################################################################
    # button
    #--------------------------------------------------------------------------------------------------------#
    # Settings related to the shown buttons.
    ##########################################################################################################

    button {
        # Text to display on update information button [default: Changelog]
        S:updateInformationButtonText=Changelog
    }

    ##########################################################################################################
    # internal
    #--------------------------------------------------------------------------------------------------------#
    # Settings for the internal checking that the GUI does.
    ##########################################################################################################

    internal {
        # Disable the Continue button if there is a pack update available. [default: false]
        B:disableContinueButtonIfUpdate=false

        # Enables the update checker. [default: false]
        B:enableUpdateChecker=false
    }

    ##########################################################################################################
    # information
    #--------------------------------------------------------------------------------------------------------#
    # Information to provide to players.
    ##########################################################################################################

    information {
        # The version of your pack currently being shipped. [default: ]
        S:currentPackVersion=

        # URL to check for a new version. Required a raw text file.
        # See here for an example: https://raw.githubusercontent.com/TehNut/LaunchGui/1.7.10/version.txt [default: http://tehnut.info]
        S:updateCheckerUrl=http://tehnut.info

        # Information to display to your players whenever a new update is available.
        # Use "\n" to define a new line. If the line is still too long, it will split for you.
        # If you do not use custom splits, it will just use the automated ones.
        # Valid text codes you can use are:
        # %player% - Provides the player's username.
        # %name% - Provides modpackName
        # %version% - Provides modpackVersion
        # %acro% - Provides modpackAcronym [default: Click the information button below to find out more!]
        S:updateGuiLines=Click the information button below to find out more!

        # A URL to a forum page (or similar) with information about the pack/update. [default: ]
        S:updateInformationUrl=
    }

}


