# Configuration file

general {

    ##########################################################################################################
    # moreplanets_general
    #--------------------------------------------------------------------------------------------------------#
    # Based More Planets Configuration. Version Checker, Debug, Mod Option. etc.
    ##########################################################################################################

    moreplanets_general {
        B:"Enable Black Hole Explosion"=true
        B:"Enable Debug Logging"=false
        B:"Enable Night Vision Effect while boss fight"=false
        B:"Enable Survival Planet Selection"=false
        B:"Enable Version Checker"=true
        B:"Use 3D Item Model for Torch"=true
        B:"Use Colored Star in the Sky"=true
        B:"Use Fancy Star in the Sky"=true
    }

    ##########################################################################################################
    # moreplanets_dimension
    #--------------------------------------------------------------------------------------------------------#
    # Planet or Moon Dimension IDs Configuration.
    ##########################################################################################################

    moreplanets_dimension {
        I:"Chalos Dimension ID"=-2543
        I:"Diona Dimension ID"=-2542
        I:"Fronos Dimension ID"=-2545
        I:"Koentus Dimension ID"=-2642
        I:"Nibiru Dimension ID"=-2544
    }

    ##########################################################################################################
    # moreplanets_planet_settings
    #--------------------------------------------------------------------------------------------------------#
    # Planet Configuration.
    ##########################################################################################################

    moreplanets_planet_settings {
        I:"Chalos Planet Tier"=3
        I:"Diona Planet Tier"=3
        B:"Enable Nibiru Infected Spore suffocation for mobs"=true
        I:"Fronos Planet Tier"=3
        I:"Nibiru Planet Tier"=3
    }

    ##########################################################################################################
    # moreplanets_moon_settings
    #--------------------------------------------------------------------------------------------------------#
    # Moon Configuration.
    ##########################################################################################################

    moreplanets_moon_settings {
        I:"Koentus Moon Tier"=3
    }

    ##########################################################################################################
    # moreplanets_world_gen_settings
    #--------------------------------------------------------------------------------------------------------#
    # World Gen Configuration.
    ##########################################################################################################

    moreplanets_world_gen_settings {
        # Common Ores are Copper, Tin, Aluminum, vanilla ores.
        B:"Enable All Common Ore Gen on all planets"=true
        B:"Enable Common Ore on Chalos"=true
        B:"Enable Common Ore on Diona"=true
        B:"Enable Common Ore on Fronos"=true
        B:"Enable Common Ore on Nibiru"=true
    }

    ##########################################################################################################
    # moreplanets_other
    #--------------------------------------------------------------------------------------------------------#
    # Others Configuration.
    ##########################################################################################################

    moreplanets_other {
        I:"Base Schematic GUI ID"=550
        I:"Base Schematic ID"=850
        B:"Enable Description in Waila Tooltip"=false
    }

}


