# Configuration file

forcelegacyrendering {
    # Forces the legacy renderer which may have better compatibility with other mods [default: false]
    B:client=false
}


general {
    # Whether to enable the library system for sharing tails. This mostly matters on servers. [default: true]
    B:"Enable Library"=true

    # Local Players data. Delete to remove all customisation data. Do not try to edit manually [default: {}]
    S:"Local Player Data"={}
}


